
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'app.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'app.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'app.name' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'app.name' | translate}}" autofocus  id="1" [ngModel]="item.name">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'app.description' | translate}}</label>
                        <textarea id="2" pInputTextarea rows="5" cols="30" [disabled]="true" placeholder="{{'app.description' | translate}}"  [ngModel]="item.description"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'app.appState' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'app.appState' | translate}}" autofocus  id="3" [ngModel]="item.appState?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'app.appOwner' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'app.appOwner' | translate}}" autofocus  id="4" [ngModel]="item.appOwner?.id">
                    </div>
                </div>
            </p-tabPanel>

            <p-tabPanel header="{{'app.applicationUser' | translate}}">
                <div class="grid">
                    <div class="col">
                        <div class="card">
                            <p-table [value]="item.applicationUser" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Email</th>
                                        <th>Application user state</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-p>
                                    <tr>
                                        <td>{{p.firstName}}</td>
                                        <td>{{p.lastName}}</td>
                                        <td>{{p.email}}</td>
                                        <td>{{p.applicationUserState?.libelle}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



